/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2016, 11:35:36 AM
    Author     : gmlan
*/

form{
    width:98%;
}

fieldset{
    margin-left:50px;
}

div.search{
    padding: 30px 0 60px 0;
    margin: 0 auto;
    width:600px; 	
}

div.search input{
    width:500px;    
    padding: 0.4em;    
    color: black;
    font-size: 1.1em;       
    outline: none;
}


div.search div{
    background-color:#4285f4;
    display:inline-block;
    padding:3px 6px;
    position:relative;
    top: 10px;
    left:-4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; 	
}

div.search div span{
    background: url(../images/nav_logo242.png) no-repeat -107px -55px;
    color: transparent;
    display: inline-block;
    height: 25px;
    width: 24px;
    margin: 3px auto;
}

div.search div.loader{
    background-color:#fff;
    position: relative;
    left:-75px;
    top:-2px;
}

div.category {
    text-align: center;
    border: none;
}

div.category img{
    width:96px;
    height:136px;
}

div.categoryitem{
    float: left;
    width: 200px;
    padding: 10px;
}
div.categoryitem div.description{
    font-weight: bolder;
}

.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.logo{
    float:left;
    width:250px;
    height:50px;
}

.navbar-brand{
    font-size: 24px;
}



/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


.slide-image {
    width: 600px;
    margin-left:200px;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
	width:320px;
	height:150px !important;
}

.small-thumbnail img{
	padding: 0 10px;
	width:60px;
	height:60px;
}


.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
 
footer {
    margin: 50px 0;
}

.navbar-brand{
	padding:0;
}


.hot{
	font-weight:bold;
	font-size:larger;
}

.hot img{
	position:relative;
	left:-5px;
	top:-8px;
}

img.product_details{
	width:200px;
	height:200px;
	float:left;
	margin:20px;
}

div.input-group .input-group-addon{
	min-width:150px;
}

#newProduct{
	width:50%;
}

table.dataTable a.action{
	font-size:12px;
}


